<script defer>
    (function () {
        'use strict';
        $(document).ready(
            function () {
                var counter = 0;
                var firstSelection;
                var total_pages = 0;
                var files_counter = 0;
                var params = {};
                var files = [];
                var fileOptions = [];
                var container = $('.page-container');
                var loader = $('.uploader-loading');

                container.on('change', '[name=files]', onFileChanged);
                container.on('click', '.delete_page', onDeletePrevPage);
                container.on('click', '.left_rotate', onRotateLeft);
                container.on('click', '.right_rotate', onRotateRight);
                container.on('click', '.upload-more-action', onAddMoreFiles);
                container.on('click', '.convert-action', onSendFile);
                container.on('dragenter', onDragEnter);
                container.on('dragover', onDragOver);
                container.on('dragleave', onDragleave);
                container.on('drop', dropFilesFn);
                container.find('#files-preview').sortable({
                    onEnd: function () {
                        $.each(container.find('.prev-item'), function (k, item) {
                            fileOptions[$(item).data('global')]['order'] = $(item).index();
                        });
                    }
                });

                function onDragleave(e) {
                    e.preventDefault();

                    if (e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.files.length) {
                        counter--;

                        if (counter === 0) {
                            container.find('.custom-backdrop').hide();
                        }
                    }
                }

                function onDragOver(e) {
                    e.preventDefault();

                    if (e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.files.length) {
                        container.find('.custom-backdrop').show();
                    }
                }

                function onDragEnter(e) {
                    e.stopPropagation();

                    if (e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.files.length) {
                        counter++;
                    }
                }

                function dropFilesFn(e) {
                    e.preventDefault();

                    if (e.originalEvent.dataTransfer && e.originalEvent.dataTransfer.files.length) {
                        container.find('.custom-backdrop').hide();

                        {% if not user.credits %}
                            if (e.originalEvent.dataTransfer.files.length >= 2) {
                                utils.showRateLimitModal('-');
                                return;
                            }
                        {% endif %}

                        counter = 0;
                        document.querySelector('#files').files = e.originalEvent.dataTransfer.files;
                        container.find('[name=files]').trigger('change');
                    }
                }

                function onRotateRight() {
                    var target = $(this);
                    var item = target.closest('.prev-item');
                    var currentRotate = item.attr('data-rotate');
                    var page = parseInt(item.data('global'));

                    currentRotate = !currentRotate ? 0 : parseInt(currentRotate);
                    currentRotate = currentRotate >= 360 ? 0 : currentRotate;
                    currentRotate = currentRotate + 90;
                    item.attr('data-rotate', currentRotate);
                    fileOptions[page].rotate = currentRotate;
                }

                function onRotateLeft() {
                    var target = $(this);
                    var item = target.closest('.prev-item');
                    var currentRotate = item.attr('data-rotate');
                    var page = parseInt(item.data('global'));

                    currentRotate = !currentRotate ? 0 : parseInt(currentRotate);
                    currentRotate = currentRotate >= 360 ? 0 : currentRotate;
                    currentRotate = currentRotate - 90;
                    item.attr('data-rotate', currentRotate);
                    fileOptions[page].rotate = currentRotate;
                }

                function onDeletePrevPage(e) {
                    e.preventDefault();

                    var target = $(this);
                    var item = target.closest('.prev-item');
                    var page = parseInt(item.data('global'));

                    item.addClass('hidden');
                    fileOptions[page].delete = true;

                    if (!container.find('.prev-item:not(.hidden)').length) {
                        params = {};
                        firstSelection = false;
                        total_pages = 0;
                        files = [];
                    }
                }

                function onAddMoreFiles(e) {
                    e.preventDefault();
                    $('#files').click();
                }

                function onFileChanged() {
                    var target = $(this);
                    var allSelectedFiles = target[0].files;
                    var fileNames = [];
                    
                    {% if not user.credits %}
                        if (allSelectedFiles.length >= 2) {
                            target.val('');
                            utils.showRateLimitModal('-');
                            return;
                        }
                    {% endif %}

                    fileOptions = [];
                    total_pages = 0;

                    for (var i = 0; i < allSelectedFiles.length; i++) {
                        files.push(allSelectedFiles[i]);
                        fileNames.push(allSelectedFiles[i].name);
                    }

                    loadThumbnails();
                    target.val('');
                }

                function uploadProgress() {
                    var xhr = new window.XMLHttpRequest();

                    xhr.upload.addEventListener("progress", function (evt) {
                        if (evt.lengthComputable) {
                            var percentComplete = (evt.loaded / evt.total) * 100;

                            percentComplete = Math.round(percentComplete);
                            loader.find('span').text(percentComplete);
                        }
                    }, false);

                    return xhr;
                }

                function onSendFile(e) {
                    e.preventDefault();
                    container.find('.uploader-full').hide();
                    container.find('.uploader-loading').show();

                    var target = $(this);
                    var p = utils.promiseRequest(
                        target,
                        'post',
                        '/api/accounts/rate_limit/',
                        {}
                    );

                    target.addClass('m-progress').attr('disabled', 'disabled');
                    p.then(
                        function () {
                            loader.show();
                            $('.uploader').html('');
                            p = p = utils.promiseRequest(
                                target,
                                'post',
                                '{{ api_domain }}/jpeg-organize/',
                                {
                                    'route': container.find('[name=route]').val(),
                                    'tool': container.find('[name=tool]').val(),
                                    'options': fileOptions
                                },
                                files,
                                uploadProgress
                            );
                            p.then(
                                function (response) {
                                    p = utils.promiseRequest(
                                        target,
                                        'post',
                                        '{% url 'generic-conversion' %}',
                                        {
                                            'conversion': response.uuid
                                        },
                                        []
                                    )
                                    p.then(
                                        function (response) {
                                            p = utils.promiseRequest(
                                                target,
                                                'post',
                                                '{% url 'credits-consume' %}',
                                                {}
                                            );
                                            p.then(
                                                function () {
                                                    window.location = response.url;
                                                }, function () {
                                                    window.location = response.url;
                                                }
                                            );
                                        }
                                    );
                                },
                                function (error) {
                                    alert(error);
                                }
                            );
                        },
                        function (errors) {
                            container.find('.uploader-empty').show();
                            container.find('.uploader-loading').hide();
                            container.find('.m-progress').removeClass('m-progress');

                            if (errors.rate_limit) {
                                utils.showRateLimitModal(errors.until);
                            } else if (errors.no_credits) {
                                utils.showNoCredits();
                            } else {
                                alert(errors);
                            }
                        }
                    );
                }

                function loadThumbnails() {
                    $('#files-preview').html('');

                    if (files.length) {
                        container.find('.uploader-empty').hide();
                        container.find('.uploader-full').show();
                        container.find('.file-name').text(files[0].filename);
                        showThumbnail(0);
                    } else {
                        fileOptions = [];
                        container.find('.uploader-empty').show();
                        container.find('.uploader-full').hide();
                    }
                }

                function showThumbnail(index) {
                    var currentFile = files[index];
                    var fileReader = new FileReader();

                    if (!currentFile) return;

                    fileReader.onload = function () {
                        var typedarray = new Uint8Array(this.result);
                        var loadPDF = jpegjsLib.getDocument(typedarray).promise;

                        loadPDF.then(
                            function (doc) {
                                files_counter++;

                                var fileIndex = 'file_' + files_counter;

                                for (var i = 0; i < doc.numPages; i++) {
                                    var currentPage = i + 1;

                                    getPageThumbnail(
                                        'files-preview',
                                        doc,
                                        currentFile.name,
                                        fileIndex,
                                        currentPage,
                                        total_pages
                                    );
                                    fileOptions.push({
                                        rotate: 0,
                                        delete: false,
                                        order: total_pages
                                    });
                                    total_pages++;
                                }

                                if (index < files.length) {
                                    showThumbnail(index + 1);
                                }
                            }
                        );
                    };

                    fileReader.readAsArrayBuffer(currentFile);
                }

                function getPageThumbnail(containerId, doc, fileName, fileIndex, currentPage, globalPageNumber) {
                    doc.getPage(currentPage).then(
                        function (page) {
                            var prevContainer = document.getElementById(containerId);
                            var canvas = document.createElement('canvas');
                            var canvasItem = document.createElement('div');
                            var canvasItemName = document.createElement('div');
                            var context = canvas.getContext('2d');
                            var viewport = page.getViewport({scale: 1});
                            var scale = 113 / viewport.width;
                            var scaledViewport = page.getViewport({
                                scale: scale
                            });
                            var actionsHtml = '<div class="actions">';

                            actionsHtml += '<span class="left_rotate">{% include 'svgs/rotate-left.html' %}</span>' +
                                '<span class="right_rotate">{% include 'svgs/rotate-right.html' %}</span>';
                            actionsHtml += '<span class="delete_page">{% include 'svgs/delete.html' %}</span>';
                            actionsHtml += '</div>';
                            canvas.width = scaledViewport.width;
                            canvas.height = scaledViewport.height;
                            canvasItem.className = 'prev-item';
                            canvasItem.setAttribute('data-file', fileIndex);
                            canvasItem.setAttribute('data-page', currentPage);
                            canvasItem.setAttribute('data-global', globalPageNumber);
                            canvasItemName.className = 'prev-item-name';
                            canvasItemName.innerText = fileName + ' - P' + currentPage;
                            canvasItem.innerHTML = actionsHtml;
                            canvasItem.appendChild(canvas);
                            canvasItem.appendChild(canvasItemName);
                            prevContainer.appendChild(canvasItem);
                            page.render({
                                canvasContext: context,
                                viewport: scaledViewport
                            });
                        }
                    );
                }
            }
        );
    }());
</script>