{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1 class="text-center">EstaCaido.com Terms of Service</h1>
    <h3>1. Terms</h3>
    <p>EstaCaido.com is part of <a class="text-dark" href="https://vps.org">VPS.org</a> LLC</p>
    <p>By accessing the website at <a href='https://estacaido.com'>https://estacaido.com</a>, you are agreeing to be bound by these
        terms of service, all applicable laws and regulations, and agree that you are responsible for compliance with
        any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or
        accessing this site. The materials contained in this website are protected by applicable copyright and trademark
        law.</p>
    <h3>2. Use License</h3>
    <ol type='a'>
        <li>Permission is granted to temporarily download one copy of the materials (information or software) on
            estacaido.com's website for personal, non-commercial transitory viewing only. This is the grant of a license, not a
            transfer of title, and under this license you may not:
            <ol type='i'>
                <li>modify or copy the materials;</li>
                <li>use the materials for any commercial purpose, or for any public display (commercial or
                    non-commercial);
                </li>
                <li>attempt to decompile or reverse engineer any software contained on estacaido.com's website;</li>
                <li>remove any copyright or other proprietary notations from the materials; or</li>
                <li>transfer the materials to another person or 'mirror' the materials on any other server.</li>
            </ol>
        </li>
        <li>This license shall automatically terminate if you violate any of these restrictions and may be terminated by
            estacaido.com at any time. Upon terminating your viewing of these materials or upon the termination of this
            license, you must destroy any downloaded materials in your possession whether in electronic or printed
            format.
        </li>
    </ol>
    <h3>3. Disclaimer</h3>
    <ol type='a'>
        <li>The materials on estacaido.com's website are provided on an 'as is' basis. estacaido.com makes no warranties, expressed or
            implied, and hereby disclaims and negates all other warranties including, without limitation, implied
            warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of
            intellectual property or other violation of rights.
        </li>
        <li>Further, estacaido.com does not warrant or make any representations concerning the accuracy, likely results, or
            reliability of the use of the materials on its website or otherwise relating to such materials or on any
            sites linked to this site.
        </li>
    </ol>
    <h3>4. Limitations</h3>
    <p>In no event shall estacaido.com or its suppliers be liable for any damages (including, without limitation, damages for
        loss of data or profit, or due to business interruption) arising out of the use or inability to use the
        materials on estacaido.com's website, even if estacaido.com or a estacaido.com authorized representative has been notified orally or
        in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied
        warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply
        to you.</p>
    <h3>5. Accuracy of materials</h3>
    <p>The materials appearing on estacaido.com's website could include technical, typographical, or photographic errors.
        estacaido.com does not warrant that any of the materials on its website are accurate, complete or current. estacaido.com may
        make changes to the materials contained on its website at any time without notice. However estacaido.com does not make
        any commitment to update the materials.</p>
    <h3>6. Links</h3>
    <p>estacaido.com has not reviewed all of the sites linked to its website and is not responsible for the contents of any
        such linked site. The inclusion of any link does not imply endorsement by estacaido.com of the site. Use of any such
        linked website is at the user's own risk.</p>
    <h3>7. Modifications</h3>
    <p>estacaido.com may revise these terms of service for its website at any time without notice. By using this website you
        are agreeing to be bound by the then current version of these terms of service.</p>
    <h3>8. Governing Law</h3>
    <p>These terms and conditions are governed by and construed in accordance with the laws of Connecticut and you
        irrevocably submit to the exclusive jurisdiction of the courts in that State or location.</p>
    <h3>DMCA Policy</h3>
    <p>Participants of EstaCaido.com's services upload, convert, access and use materials and services at their own risk.
        EstaCaido.com does not monitor customer content. EstaCaido.com will not be liable for any damages claimed as a result of
        EstaCaido.com's services, information, or products. Each and every Participant is solely responsible for all materials
        stored with EstaCaido.com, for accuracy of materials including warranties, and for acquiring all necessary
        authorizations for hyperlinks and marketing materials. EstaCaido.com makes no express or implied warranty regarding the
        accuracy, quality, or nature of information that may be obtained by users or participants from the internet
        through the use of EstaCaido.com's services.</p>
    <p>Please also note all user uploads and content are deleted within hours of uploading, and their converted matieral
        is deleted within twenty four hours as well, in a sense only temporary storage</p>
    <p>If you believe that any material on EstaCaido.com infringes upon any copyright which you own or control, you may send a
        written Notification of Alleged Copyright Infringement (“Notification”) to our designated Digital Millennium
        Copyright Act ("DMCA") Agent identified below. In the Notification, you should:</p>
    <p>(A) Identify in sufficient detail the copyrighted work or intellectual property that you claim has been infringed
        so that we can locate the material;</p>
    <p>(B) Identify the URL or other specific location on EstaCaido.com that contains the material that you claim infringes
        your copyright;</p>
    <p>(C) Provide the electronic or physical signature of the owner of the copyright or a person authorized to act on
        the owner's behalf;</p>
    <p>(D) Include a statement that you have a good faith belief that the disputed use is not authorized by the
        copyright owner, its agent, or the law;</p>
    <p>(E) Include a statement that the information contained in your Notification is accurate and attest under the
        penalty of perjury that you are the copyright owner or authorized to act on the copyright owner's behalf;
        and,</p>
    <p>(F) Include your name, mailing address, telephone number and email address.</p>
    <p>You may send your Notification to our designated DMCA Agent by email, fax, or mail as set forth below:
    <p>
    <p>Charles Lee Mudd Jr.<br>
        Mudd Law<br>
        411 S. Sangamon Street<br>
        Suite 1B<br>
        Attention: DMCA<br>
        email: dmca@muddlaw.com<br>
        Fax to: 312-803-1667<br>
    <p>When EstaCaido.com receives a proper Notification, it promptly removes or disables access to the allegedly infringing
        material and terminates the accounts associated therewith (if applicable) in accordance with the DMCA.</p>
    <p>EstaCaido.com has adopted a policy of terminating, in appropriate circumstances and at its sole discretion, members who
        are deemed to be repeat infringers. EstaCaido.com may also in its sole discretion limit access to EstaCaido.com and/or
        terminate the use thereof by anyone who infringes any intellectual property rights of others, whether or not
        there is any repeat infringement.</p>
</div>
{% endblock %}