---
- hosts: all
  vars:
    ansible_user: root
    newuser: animateadrawing
    newpassword: "a)5QQNer"

  tasks:
    - name: create a new user called {{ newuser }}
      become: true
      user:
          name: "{{ newuser }}"
          state: present
          groups: sudo
          password: "{{ newpassword | password_hash('sha512') }}"

    - name: Add SSH key for {{ newuser }}
      become: true
      authorized_key:
        user: "{{ newuser }}"
        state: present
        key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"

    - name: Enable password authentication in SSH
      become: true
      lineinfile:
        path: /etc/ssh/sshd_config
        regexp: '^#?PasswordAuthentication'
        line: 'PasswordAuthentication yes'
        state: present

    - name: Restart SSH service
      become: true
      service:
        name: sshd
        state: restarted

    - name: Disable root login
      become: true
      user:
        name: root
        password_lock: true