---
- hosts: all
  tasks:

    - name: Run the equivalent of "apt-get update" as a separate step
      become: true
      apt:
        update_cache: yes

    - name: install default packages
      become: true
      apt:
        pkg: [ 'vim', 'supervisor', 'nginx', 'certbot', 'python3-certbot-nginx',
               'python3', 'python3-dev', 'python3-pip', 'python3-venv', 'unzip',
               'htop', 'python3-virtualenv', 'git', 'build-essential', 'redis-server',
               'postgresql', 'postgresql-contrib', 'libpq-dev', 'python3-pexpect',
               'ffmpeg', 'libsm6', 'libxext6' ]
        state: latest

    - name: Creates directory
      become: true
      file:
        path: /home/www
        state: directory
        owner: "{{ansible_user}}"

    - name: Git clone
      git:
        repo: "{{ githuburl }}"
        dest: /home/www/{{location}}
        version: main
        force: yes

    - name: Manually create the initial virtualenv
      command: python3 -m venv /home/www/{{location}}/venv

    - name: Upgrade pip
      pip:
        name: pip
        extra_args: --upgrade
        virtualenv: /home/www/{{location}}/venv

    - name: Install requirements
      pip:
        requirements: /home/www/{{location}}/requirements.txt
        virtualenv: /home/www/{{location}}/venv

    - name: Create uploads directory
      file:
        path: /home/www/{{location}}/uploads
        state: directory
        owner: "{{ansible_user}}"

    - name: Create static directory
      file:
        path: /home/www/{{location}}/static
        state: directory
        owner: "{{ansible_user}}"

    - name: remove default nginx site config
      become: true
      file: path=/etc/nginx/sites-enabled/default state=absent

    - name: Upload new nginx file
      become: true
      template:
        src: files/nginx.conf.j2
        dest: /etc/nginx/sites-available/{{ projectname }}.conf

    - name: Create symbolic link
      become: true
      file:
        src: /etc/nginx/sites-available/{{ projectname }}.conf
        dest: /etc/nginx/sites-enabled/{{ projectname }}.conf
        state: link
        force: True

    - name: Restart nginx
      become: true
      service: name=nginx state=restarted

    - name: Creates {{projectname}} error log directory
      become: true
      file:
        path: /var/log/{{projectname}}/
        state: directory
        owner: "{{ansible_user}}"

    - name: Upload supervisor file
      become: true
      template:
        src: files/supervisor.conf.j2
        dest: /etc/supervisor/conf.d/{{ projectname }}.conf

    - name: reload supervisor
      become: true
      service: name=supervisor state=reloaded

    - name: Supervisor reread
      become: true
      supervisorctl:
        name: "{{ projectname }}"
        state: present

    - name: Supervisor update
      become: true
      supervisorctl:
        name: "{{ projectname }}"
        state: started
